.form {
  margin: 1.5rem auto;
  max-width: 35rem;
  border-radius: 6px;
  background-color: #4BB67D;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  text-align: center;
  color: white;
}

.form label {
  display: block;
  color: white;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.form input, select {
  font: inherit;
  background-color: #f1e1fc;
  color: #4BB67D;
  border-radius: 4px;
  border: 1px solid white;
  width: 80%;
  text-align: left;
  padding: 0.25rem;
}

.form input:focus, select:focus {
  outline: none !important;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem auto;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  font-weight: bold;
  background-color: #4BB67D;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: white;
  border-color: #4BB67D;
  color: #4BB67D;;
}

button:active {
  transform: translateY(2px);
}

